body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 15px;
    width: 350px;
    border: 2px solid #6c757d;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

li:hover {
    transform: translateY(-2px);
}
.custom-checkbox {
    appearance: none; /* Убираем стандартный стиль чекбокса */
    width: 15px; /* Ширина чекбокса */
    height: 15px; /* Высота чекбокса */
    border: 2px solid #000; /* Черная рамка */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    outline: none; /* Убираем обводку при фокусе */
    position: relative; /* Для позиционирования псевдоэлемента */
}

.custom-checkbox:checked {
    background-color: #000; /* Черный цвет при выделении */
}

.custom-checkbox:checked::after {
    content: ''; /* Создаем псевдоэлемент */
    position: absolute;
    top: 2px; /* Отступ сверху */
    left: 2px; /* Отступ слева */
    width: 10px; /* Ширина внутреннего квадрата */
    height: 10px; /* Высота внутреннего квадрата */
    background-color: white; /* Цвет внутреннего квадрата */
    border-radius: 2px; /* Закругленные углы внутреннего квадрата */
}
/* Адаптивность для мобильных устройств */
@media (max-width: 480px) {
    input[type="text"] {
        width: 70%; /* Уменьшаем ширину на мобильных устройствах */
    }

    button {
        width: 100%; /* Кнопки занимают всю ширину */
        margin-top: 10px; /* Отступ сверху */
    }
}
